# Anguiano Banderas Lourdes
## Estructuras y organizacion de datos.

### La funcion print

In [2]:
x=10
c=5
print ("\nLa variable x tiene el valor de : ",x)
print ("\nLa variable c tiene un valor de",c)
print ("\nEl valor de x es:",x, "\nY el valor de c es:",c)
print ("\nhola Mundo")
print ("\nAnimo, tu puedes programador")

La variable x tiene el valor de :  10

La variable c tiene un valor de 5

El valor de x es: 10
Y el valor de c es: 5

hola Mundo

Animo, tu puedes programador

In [11]:
#Usamos el parametro "end" para especificar cual es el terminador
#de linea en una instruccion print
x = 2
c = 3
print ("El valor de x es:",x, end=' *****')
print (" Y el valor de c es:",c)

El valor de x es: 2 ***** Y el valor de c es: 3

In [17]:
#Especificar el texto que separa los argumentos de la funcion print
#parametro "sep"

x = 1
c = 5
print("El valor de x es ",x, sep='=')
print("Y el valor de c es ",c, sep='=')

El valor de x es =1
Y el valor de c es =5

In [19]:
#Especificar separador de argumentos y el terminador de Lineas

print('El valor de x es', x , sep='=>', end='\n\n\n')
print('El valor de \'c\' es',c)

El valor de x es=>1


El valor de 'c' es 5

## Literales

In [7]:
x=11500000
x=115.58
x="texto"
print(x)

texto

In [8]:
#numeros con separdores de milles
x=11_000_000
y=8
print(x*y)

88000000

In [16]:
##Valores Octales
a= 0o1234
print(a)

668

In [14]:
##Valores hexadecimal
b= 0x1234
print(b)

4660

In [17]:
z=.5
print(z)

0.5

In [18]:
vl=30000000
vl2=3.1e8
print(vl,vl2)

30000000 310000000.0

In [19]:
w=0.08e3
print(w)

80.0

In [1]:
L= "Hola soy lulu"
print(L)

Hola soy lulu

In [3]:
print("******************************")

******************************

In [4]:
print("Hola " * 50)

Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola

In [5]:
#Exponenciacion
print(3 * 5.0)

15.0

In [6]:
print(3 **5)

243

In [7]:
print (10/2)

5.0

In [8]:
print(9 // 2)

4

In [9]:
print(9 % 2)

1

In [10]:
print (+2)

2

In [11]:
print (2 + 3 * 5)

17

In [12]:
print((2 + 3) * 5)

25

In [13]:
print (2 * 2 * 3)

12

In [14]:
print(2 ** 2 ** 3)

256

In [19]:
print 1= cualquier_nombre_de_variable_puede_usarse
print(cualquier_nombre_de_variable_puede_usarse)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1= cualquier_nombre_de_variable_puede_usarse)? (<ipython-input-19-4b68cd3603f4>, line 1)

In [20]:
x = 5
x = x + 3
print(x)

8

In [21]:
x = 5
x += 3
print(x)

8

In [22]:
x = 5
x = x ** 3
print (x)

125

In [23]:
x = 5
x **= 3
print(x)

125

In [24]:
x = 10
x = x / 3
print(x)

3.3333333333333335

In [25]:
x = 10
x /= 3
print(x)

3.3333333333333335

In [1]:
# comentario de una sola linea
"""
comentarios de multiples lineas 
Lourdes Anguiano Banderas
es
"""

'\ncomentarios de multiples lineas \nLourdes Anguiano Banderas\nes\n'

In [3]:
algo = input ("Dime algo  ")
print ("Mmm...", algo, "...en serio?")

Dime algo  holaa
Mmm... holaa ...en serio?

In [4]:
x = input("Dame un numero para multiplicar")
z = x * 5
print(z)

Dame un numero para multiplicar2
22222

In [5]:
x = int(input("Dame un numero para multiplicar"))
z = x * 5
print(z)

Dame un numero para multiplicar2
10

In [6]:
x = int(input("Dame un numero para multiplicar "))
z = x // 5
print(z)

Dame un numero para multiplicar10
2

In [ ]:
cateto_a = float(input("Inserta la longitud del primer cateto: "))
cateto_b = float(input("Inserta la longitud del segundo cateto "))
hipo = (cateto_a**2 + cateto_b**2) ** .5
print("La longitud de la hipotenusa es: " , hipo)

In [10]:
nom = input("Me puedes dar tu nombre por favor? ")
ape = input("Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es " + nom + " " + ape +".")

Me puedes dar tu nombre por favor? Lourdes
Me puedes dar tu apellido por favor? Anguiano
Gracias.

Tu nombre es Lourdes Anguiano.

In [11]:
print ("2" * 5)
print (2 * 5)

22222
10

In [3]:
a =3000
b =12500
if b > a:
    print("b es mayor que a")
    print("b vale =>" ,b)
else:
    print ("a es mayor que b")
    print("a vale =>" ,a)
print("Fin del if")

b es mayor que a
b vale => 12500
Fin del if

In [23]:
a =3000
b =12500
if b > a:
    print("b es mayor que a")
    print("b vale =>" ,b)
else:
    print ("a es mayor que b")
    print("a vale =>" ,a)
print("Fin del if")

b es mayor que a
b vale => 12500
Fin del if

In [5]:
a =3000
b =3000
if b > a:
    print("b es mayor que a")
    print("b vale =>" ,b)
    
elif a==b:
    print("a es igual que b")
    print("a y b valen =>",a)

else:
    print ("a es mayor que b")
    print("a vale =>" ,a)
    
print("Fin del if")

a es igual que b
a y b valen => 3000
Fin del if

In [7]:
# if y if ...else en version corta o simplificada
#--------- pendiente------
x = 50
y = 30

print("y es menor que x") if x > y else print("x es mayor que y")

y es menor que x

In [13]:
i = 1
while i <=1000:
    print(i)
    print("hola")
    if i == 10:
        print("Entro al if")
        break
    i += 1    
print("fuera del while")

1
hola
2
hola
3
hola
4
hola
5
hola
6
hola
7
hola
8
hola
9
hola
10
hola
Entro al if
fuera del while

In [20]:
print(
"""
+==============================+|
|Bienvenido a mi juego, muggle! |
|Introduce un numero entero     |
|y adivina que numero he        |
|elegido para ti.               |
|Entonces,                      |
|cual es el numero secreto?     |
|                               |
+==============================+
""")

+==============================+|
|Bienvenido a mi juego, muggle! |
|Introduce un numero entero     |
|y adivina que numero he        |
|elegido para ti.               |
|Entonces,                      |
|cual es el numero secreto?     |
|                               |
+==============================+

In [22]:
print(
"""
+==============================+|
|1.- Opcion 1.                  |
|2.- Opcion 2.                  |
|3.- Opcion 3.                  |      
+==============================+
""")

input("Cual es la opcion que deseas?")

+==============================+|
|1.- Opcion 1.                  |
|2.- Opcion 2.                  |
|3.- Opcion 3.                  |
+==============================+

Cual es la opcion que deseas?2

'2'

In [3]:
# si no se espesifica un rango inicial por default empieza en cero
#cuando de estalece un limite o rango final siempre continnuara debidamente aunque no tenga valor incicial
for x in range (1, 11):   
                          
    print(x)

1
2
3
4
5
6
7
8
9
10

In [4]:
#indicando un rango inicial y un rango final
for x in range (2, 10):   
                          
    print(x)

2
3
4
5
6
7
8
9

In [5]:
#indicando un valor de incremanto por cada repeticion o iteracion en este caso es el 2
for x in range (1,10,2):   
                          
    print(x)

1
3
5
7
9

In [10]:
# lista de valores 
frutas = ["naranja", "platano", "sandia", "melon", "guayaba"]
numeros = [1, 5, 3, 8, 99]
for x in numeros:
    print(x)
    if x =="melon" :
        break

1
5
3
8
99

In [12]:
tabla = 5
for i in range (1 , 11):
    print("5 por ", i,"es igual a ", 5*i)

5 por  1 es igual a  5
5 por  2 es igual a  10
5 por  3 es igual a  15
5 por  4 es igual a  20
5 por  5 es igual a  25
5 por  6 es igual a  30
5 por  7 es igual a  35
5 por  8 es igual a  40
5 por  9 es igual a  45
5 por  10 es igual a  50

In [17]:
tabla = int(input("cual es la tabla de multiplicar que quieres? "))


for i in range (1 , 11):
    print(tabla, "por ",i, "es igual a ", tabla*i)

cual es la tabla de multiplicar que quieres? 3
3 por  1 es igual a  3
3 por  2 es igual a  6
3 por  3 es igual a  9
3 por  4 es igual a  12
3 por  5 es igual a  15
3 por  6 es igual a  18
3 por  7 es igual a  21
3 por  8 es igual a  24
3 por  9 es igual a  27
3 por  10 es igual a  30