# Unidad 3
## Estructuras y organizacion de datos
### Lourdes Anguiano Banderas 19041340

In [1]:
# Funciones

In [1]:
def mi_funcion_hola():
    print("Hola mundo, desde mi funcion")

In [2]:
mi_funcion_hola()

Hola mundo, desde mi funcion

In [3]:
# tabla de multiplicar del 2
for z in range(1,11):
        print(2, "x", z, "=", 2 * z)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [8]:
# tabla de multiplicar de cualquier valor
def tablas_multiplicar(x):
    for z in range (1,11):
        print(x, "por", z, "=", x * z)

In [10]:
tablas_multiplicar(400)

400 por 1 = 400
400 por 2 = 800
400 por 3 = 1200
400 por 4 = 1600
400 por 5 = 2000
400 por 6 = 2400
400 por 7 = 2800
400 por 8 = 3200
400 por 9 = 3600
400 por 10 = 4000

In [14]:
def calculardoble(qaz):
    qaz = qaz * 2
    return qaz

In [16]:
x = calculardoble(3)
print (x)

6

## paso de parametros en base a su posicion

In [12]:
def presentar(primerNombre, segundoNombre):
    print("hola, mi nombre es", primerNombre, segundoNombre)
presentar("Luke","Skywalker")
presentar("Jesse","Quik")
presentar("Clark","Kent")

hola, mi nombre es Luke Skywalker
hola, mi nombre es Jesse Quik
hola, mi nombre es Clark Kent

In [13]:
def presentar(primerNombre, segundoNombre,edad):
    print("hola, mi nombre es", primerNombre, segundoNombre,"mi edad es",edad)
presentar("Luke", "Skywalker", 20)
presentar("Jesse", "Quik", 21)
presentar("Clark", "Kent", 22)

hola, mi nombre es Luke Skywalker mi edad es 20
hola, mi nombre es Jesse Quik mi edad es 21
hola, mi nombre es Clark Kent mi edad es 22

## paso de parametros por palabra

##### los valores pasados a los parametros son precedidos por el nombre del parametro al que se  le va a pasar el valor, seguido por el signo = .

In [14]:
def presentar(primerNombre, segundoNombre):
    print("hola, mi nombre es", primerNombre, segundoNombre)
presentar(primerNombre = "James", segundoNombre = "Bond" )
presentar("James","Bond")
presentar(segundoNombre = "Skywalker",primerNombre = "Luke")

hola, mi nombre es James Bond
hola, mi nombre es James Bond
hola, mi nombre es Luke Skywalker

In [18]:
# Especificar parámetro con un valor por defecto

def presentar(primerNombre, segundoNombre="Anguiano"):
    print("Hola, mi nombre es", primerNombre, segundoNombre)

presentar("Juan", "Escarpita")
presentar("Pedro")

Hola, mi nombre es Juan Escarpita
Hola, mi nombre es Pedro Anguiano

## Alcance de las variables en funciones

In [19]:
def scopeTest():
    x = 123

scopeTest()
print(x)

NameError: name 'x' is not defined

In [20]:
def scopeTest():
    x = 123
    print(x)
scopeTest()

123

In [21]:
# El alcance de la variable fuera de una función tiene un alcance global
def miFuncion():
    print("¿Conozco a la variable?", var)

var = 1
miFuncion()
print(var)

¿Conozco a la variable? 1
1

In [22]:
def miFuncion():
    var = 2
    print("¿Conozco a la variable?", var)

var = 1
miFuncion()
print(var)

¿Conozco a la variable? 2
1

In [23]:
def miFuncion():
    global var
    var = 2
    print("¿Conozco a aquella variable?", var)

var = 1
miFuncion()
print(var)

¿Conozco a aquella variable? 2
2

In [24]:
def miFuncion(n):
    print("Yo obtuve", n)
    n += 1
    print("Yo ahora tengo", n)

var = 1
miFuncion(var)
print(var)

Yo obtuve 1
Yo ahora tengo 2
1

In [25]:
# la invertida significa que el codigo continua en la sig. linea
def imc(peso, altura):
    if altura < 1.0 or altura > 2.5 or \
    peso < 20 or peso > 200:
        return None
    
    return peso / altura ** 2

print(imc(75, 1.78))

23.671253629592222

## Tuplas y dicccionarios

In [26]:
# Las similitudes pueden ser engañosas - no intentes modificar en contenido de la tupla ¡No es una lista!
miTupla = (1, 10, 100, 1000)

print(miTupla[0])
print(miTupla[-1])
print(miTupla[1:])
print(miTupla[:-2])

for elem in miTupla:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

In [27]:
# Todas estas instrucciones (con excepción de primera) causarán un error de ejecución :

miTupla = (1, 10, 100, 1000)

miTupla.append(10000)
del miTupla[0]
miTupla[1] = -10

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
miTupla = (1, 10, 100)

t1 = miTupla + (1000, 10000)
t2 = miTupla * 3

print(len(t2))
print(t1)
print(t2)
print(10 in miTupla)
print(-10 not in miTupla)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True